﻿@using NewsTK.Models
@model List<NewsTK.Models.News>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="position-relative overflow-hidden p-3 p-md-5 mt-0 text-center mx-lg-auto ">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-3 fw-lighter text-danger mb-4">Habersiz Kalma!</h1>
            <div class="clearfix ">
                <p> </p>
            </div>

            <p class="lead fw-normal text-dark mb-4">
                NewsTK'nın kaliteli ve doğruluk garantili haberleri ile gündemi daima takip et.
            </p>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-danger text-dark" href="/User/Login/">Giriş Yap</a>
            }
            else
            {
                <a class="btn btn-outline-warning text-dark" href="/User/Logout/">Çıkış Yap</a>

            }
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4 text-danger  ">Başlıca Haberler</h1>
            <p class="lead">
                Doğruluk garantili, yoğun analizlerden geçmiş günümüzün başlıca haberleri bu kısımda sizlerle sergilenecektir.
            </p>
        </div>
        <div class="row row-cols-2">
            @foreach (var news in Model)
            {
                @if (!news.IsSelected)
                {
                <div class="col">
                    <div class="card mb-3">
                        <img src="@news.ImageUrl" class="card-img-top " style="width:100%; max-height:240px;" alt="...">
                        <div class="card-body">
                            <a class="card-title text-decoration-none " href="/News/Read/@news.Id">@news.Title</a>
                            <p class="card-text">@news.FirstParagraph</p>
                            <p class="card-text"><small class="text-muted">NewsTK Kaynaklarından Alınmıştır.</small></p>
                        </div>
                    </div>
                </div>
                }     
            }
        </div>
        <hr />
    }
    else
    {
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4 text-danger  ">Başlıca Haberler İçin Giriş Yapınız</h1>
            <p class="lead">
                Doğruluk garantili, yoğun analizlerden geçmiş günümüzün başlıca haberleri görmek için giriş yapınız.
            </p>
        </div>
        <hr/>
    }

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-warning  ">Genel Haberler</h1>
        <p class="lead">
            Doğruluk garantili, genel kapsamdaki tüm haberler bu kısımda siz kullanıcılarımıza sergilenecektir.
        </p>
    </div>
    <div class="row row-cols-3">
        @foreach (var news in Model)
        {
            @if (news.IsSelected)
            {
                <div class="col">
                    <div class="card mb-3" style="max-width: 540px">
                        <a href="#" class="text-decoration-none text-dark">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="@news.ImageUrl" alt="..." style="width:100%; max-height:140px;" class="img-fluid" />
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <a class="card-title text-decoration-none text-center" href="/News/Read/@news.Id">@news.Title</a>
                                        <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; ">
                                            @news.FirstParagraph
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">NewsTK Kaynaklarından Alınmıştır.</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }            
        }
    </div>

</div>

